<%= @restaurant.name %>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>
<ul><% @reviews.each do |review| %>
  <li><%= review.content %> <%= review.rating %></li>
  <% end %>
</ul>
<%= link_to 'Back to list', restaurants_path %>

